<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
  </head>



<div id="header">
  <h1 class="index_banner">The Command Tower</h1>
  <p>Gather your forces!</p>
</div>

<div id="container">

<div class="box">
  <div id="login">
  <p>View your Libraries</p>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username">
      <br>
      <input type="password" name="password" placeholder="Password">
      <br>
      <br>
      <input type="submit" value="Login">
    </form>
  </div>
</div>

<div class="box">
 <div id="signup">
  <p>New Planeswalker? Sign Up!</p>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Enter user name">
    <br>
    <input type="text" name="fullname" placeholder="Full name">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Create Account">
  </form>
  </div>
</div>

<div class="box">
  <div id="deck_search">
    <p>Find a Deck</p>
    <form action="/deck_search" method="post">
      <input type="text" name="deck[commander]" placeholder="Commander">
      <br>
      <p>Or<p>
      <input type="text" name="deck[color_identity]" placeholder="Colors">
      <br>
      <br>
      <input type="submit" value="Search">
    </form>
  </div>
</div>

<div class="box">
  <div id="recent_decks">
    <p>Recently Created Decks<p>
  </div>
</div>
</div>

