<!DOCTYPE html>
<html lang="en">

  <head>
     <link href='http://fonts.googleapis.com/css?family=Metamorphous' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Buda:300' rel='stylesheet' type='text/css'>
  </head>


<div id="navbar">
  <p>Placeholder Text for Navbar<p>
</div>

<div class="box">
  <div id="deck_create">
    <p>Create a deck</p>
    <form action="/decks/:deck_id" method="post">
    <input type="text" name="name" placeholder="Deck Name">
    <br>
    <input type="text" name="commander" placeholder="Commander">
    <br>
    <input type="submit" value="Submit">
    </form>
  </div>
</div>


<div class="box">
  <div id="user_decks">
  <p>Your Decks<p>
    <% @decks.each do |deck| %>
      <%= deck.name %>
    <% end %>
  </div>
</div>